@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }

body{
    display: grid;
    margin: 0;
    background: linear-gradient( to bottom, black 30%, white) ;
}

header{
    background-color: black;
    position: fixed;
    height:10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

header div{
    color:white;
    display:flex;
    align-items: center;
    font-family: 'TAEBAEKmilkyway';
}

nav a{
    text-align: right;
    font-weight: bold;
    color:white;
    font-size: 25px;
    padding-right: 30px;
    text-decoration: none;
}

section{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color:rgb(255, 255, 255);
    font-family: 'TAEBAEKmilkyway';
    font-size: 50px;
}